
/* Generic */ 
body {
  background-color: rgb(221, 221, 232);
  text-align: center;
}

a, h1, h2, h3, h5, button, label, p {
  font-family: 'Bebas Neue', cursive;
  color: rgb(12, 12, 112);
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 25px;
}

p {
  font-size: 18px;
}


/* Navbar */
#navbar {
  overflow: hidden;
  background-color: rgb(12, 12, 112);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

#navbar a {
  display: inline-block;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: rgb(12, 12, 112);
  color: rgb(164, 200, 214);
}

.sticky {
  position: fixed;
  top: 0;
}

/* Home section */
.div_home {
  margin: 75px 0px 0px 0px;
}

.about {
  margin: 60px 0px 60px 0px;
}

/* Carousel */

.carousel {
  width: 70%;
  margin: auto;
}

#carousel_img {
  opacity: 60%;
}

/* List of skillz */
.icons {
  height: 45px;
  padding: 5px;
}

.container-two {
  margin: 65px 0px 25px 0px;
}

/* Connect */
.container-three {
  height: 250px;
  padding: 5px 0px 20px 0px;
  background-color: rgb(146, 165, 228);
  background-image: url("https://i.imgur.com/Oo3FvyP.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top 250px;
}

.connect {
  margin: 50px 0px 30px 0px;
}

.email {
  height: 7rem;
  margin: 0px 25px 0px 24px; 
}

.linked {
  height: 7rem;
  margin: 0px 0px 0px 0px; 
}

.twitt {
  height: 7rem;
  margin: 0px 0px 0px 0px; 
}
